<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />


  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find world_sim)/worlds/control.world"/>
      <!--<arg name="paused" value="$(arg paused)"/> -->
       <arg name="paused" value="$(arg paused)"/>
      <arg name="gui" value="$(arg gui)"/>
  </include>

      <!--Robot Description from URDF-->
  <param name="jig_description" command="$(find xacro)/xacro $(find jig_description)/urdf/jig.urdf.xacro"/>
  <param name="use_gui" value="true"/>

  <!--Nodes-->
  <node name="spawn_jig_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param jig_description -model jig " output="screen"/>

</launch>