<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ar_3">
  <link name="ar_3_link">
    
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://jig_description/meshes/ar_3.dae"/>
      </geometry>
    </visual>

    <collision>  
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <mesh filename="package://jig_description/meshes/ar_3.dae"/>
      </geometry>      
    </collision>
    
    <inertial>
      <mass value="1" />
      <inertia ixx="0.01" ixy="-0.00" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>

  </link>
</robot>
