<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />


  <!--Gazebo empty world launch file-->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    	<arg name="world_name" value="$(find world_sim)/worlds/control.world"/>
      <arg name="paused" value="$(arg paused)"/>
      <arg name="gui" value="$(arg gui)"/>
  </include>


<param name="ur3_description" command="$(find xacro)/xacro $(find ur3_description)/urdf/ur3_robot.urdf.xacro"/>
<node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param ur3_description -model ur3 -z 1.015 -x 0.0 -y 0.0 " output="screen"/>



<param name="robot_description" command="$(find xacro)/xacro $(find ur3_description)/urdf/ur3_robotiq85_gripper.urdf.xacro"/>
<node name="spawn_robot_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model gripper -z 1.015 -x 0.0 -y 0.0 " output="screen"/>



</launch>